name: Check for coding standard violations
on:
  push:
    tags:
      - "v*"
permissions:
  contents: read
jobs:
  get-app-token:
    runs-on: ubuntu-latest
    outputs:
      token: ${{ steps.app-token.outputs.token }}
    name: Get Imbo Automation token
    steps:
      - id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.IMBO_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.IMBO_AUTOMATION_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
  check-repos-and-create-pr:
    permissions:
      contents: write
      pull-requests: write
    needs:
      - get-app-token
    runs-on: ubuntu-latest
    name: Check repo for coding standard violations
    strategy:
      fail-fast: false
      matrix:
        repo:
          - behat-api-extension
          - imbo-b2-adapters
          - imbo-s3-adapters
          - imboclient-php
    env:
      TAG: ${{ github.ref_name }}
    steps:
      - uses: actions/checkout@v6
        with:
          repository: imbo/${{ matrix.repo }}
          ref: refs/heads/main
          token: ${{ needs.get-app-token.outputs.token }}
      - uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
      - run: composer install
      - run: composer update imbo/imbo-coding-standard
      - id: check
        run: |
          if ! vendor/bin/php-cs-fixer check --quiet; then
            echo "result=failure" >> $GITHUB_OUTPUT
          fi
        continue-on-error: true
      - if: ${{ steps.check.outputs.result == 'failure' }}
        run: vendor/bin/php-cs-fixer fix
      - if: ${{ steps.check.outputs.result == 'failure' }}
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ needs.get-app-token.outputs.token }}
          branch: coding-standard-violations/${{ env.TAG }}
          delete-branch: true
          commit-message: |
            fix: coding standard violations (imbo/imbo-coding-standard@${{ env.TAG }})

            Automated fix for coding standard violations detected by
            imbo/imbo-coding-standard@${{ env.TAG }}.

            This commit was generated by the Imbo Automation bot to ensure repositories
            stay compliant with the coding standards.
          title: |
            fix: coding standard violations (imbo/imbo-coding-standard@${{ env.TAG }})
          body: |
            Automated fix for coding standard violations detected by
            imbo/imbo-coding-standard@${{ env.TAG }}.

            This commit was generated by the Imbo Automation bot to ensure repositories
            stay compliant with the coding standards.
          author: Imbo Automation <imbo-automation@users.noreply.github.com>
          committer: Imbo Automation <imbo-automation@users.noreply.github.com>
