name: CI
on:
  pull_request:
  push:
    branches:
      - main
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php:
          - "8.3"
          - "8.4"
          - "8.5"
    name: Validate and test on PHP ${{ matrix.php }}
    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - run: composer install
      - run: vendor/bin/php-cs-fixer check --diff
  branch-protection:
    needs:
      - ci
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: Branch protection
    steps:
      - if: ${{ needs.ci.result != 'success' }}
        run: exit 1
      - run: echo "All checks passed."
